* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --sky-blue: #02CCFE;
}

:root {
  font-size: 10px
}

body {
  display:grid;
  height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

header,
footer {
  background-color: black;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  padding: 1em;
}

main {
  font-size: 1.8rem;
  display:grid;
  justify-items: center;
  align-content: flex-start;
}

form {
  width: 600px;
  display: grid;
  grid-template-rows:min-content ;
  /* background-color: white; */
}

form p, 
form label,
form input {
  padding: 0.5em;
}

.form-grid {
  display: grid;
  grid-template-columns: [label-start] auto [label-end] 1fr;
  grid-template-rows: [label-start] repeat(3, min-content) [label-end] min-content min-content;
}

.form-grid fieldset {
  grid-column: 1 / span 2;
  border: none;
  margin: 0.5em;
}

label, label + input {
  margin: 0.5em 0.5em;
}

.form-grid > label {
  text-align: right;
}

.form-grid button {
  padding: 0.5em;
  background-color: black;
  color: white;
  margin: 0.5em;
  font-weight: bold;
}

.weather-report {
  border: 5px inset black;
  padding: 0.5em;
}

th {
  padding: 0.5em;
  font-size: 1.6rem;
}

td {
  font-size: 1.6rem;
  text-align: center;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 0.5em;
}

#submit:disabled{
  background-color:darkgray;
  color:lightgray;
}

form button:active {
  border: 2px solid black;
  background-color: white;
  color: black;
}

input:required:valid {
  background-color:lawngreen;
  outline: 2px solid darkgreen;
}

input:required:invalid:placeholder-shown {
  outline: 2px solid yellow;
}
input:required:invalid:not(:placeholder-shown) {
  outline: 2px solid red;
  background-color:lightcoral
}